@page "/survey"
@page "/survey/{Name}"

<h3>My Cool Survey</h3>

<div>Hello @Name!</div>

<div>What is your Name?<br /><input class="form-control" @bind-value="@Name" @bind-value:event="oninput" /></div>
<div>What is your favorite color?<br /><input class="form-control" @bind-value="@FavoriteColor" /></div>

<div>
    What is your favorite car?<br />
    <select class="form-control" @bind="@FavoriteCar">
        @foreach (var car in Cars)
        {
            <option value="@car">@car</option>
        }
    </select>
</div>
<br />
<button @onclick="SubmitSurvey" class="btn btn-primary">Submit Survey</button>
<h4>@Message</h4>

@code {

    [Parameter]
    public string Name { get; set; }

    private string FavoriteColor { get; set; }
    private string FavoriteCar = string.Empty;
    private List<string> Cars = new List<string> { "Prius", "Tesla", "Volt" };

    private void SubmitSurvey()
    {
        Message = $"Survey submitted! Your name is {Name} and favorite color is {FavoriteColor}, favorite car is {FavoriteCar}";
    }

    public string Message { get; set; }

}
